<header class="main_header clearfix">
  <div class="logo">
    <h1>
      <%= link_to drinks_path do %>
          <span class="red">D</span><!--
       --><span class="yellow">r</span><!--
       --><span class="light_blue">i</span><!--
       --><span class="red">n</span><!--
       --><span class="yellow">k</span><!--
       --><span class="logo_second_word"><!--
         --><span class="light_blue">L</span><!-- 
         --><span class="red">i</span><!-- 
         --><span class="yellow">s</span><!-- 
         --><span class="light_blue">t</span><!--    
        --></span>
      <% end %>
    </h1>
  </div>
</header>